html {
  overflow-y: scroll;
}
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 800px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  color: white;
}
header {
  background-color: blueviolet;
  padding: 10px 0;
  color: black;
}
.App h2 {
  font-size: 30px;
  text-decoration: underline;
}
