html {
  overflow-y: scroll;
}
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 800px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  color: white;
}
body {
  --test-color: #a00dd1;
}
header {
  background-color: var(--test-color);
  padding: 10px 0;
  color: black;
}
.App h2 {
  font-size: 30px;
}
nav {
  border-bottom: solid 1px white;
  padding-bottom: 1rem;
}
.backLinkH2,
.backLink {
  text-align: center;
  margin-top: 55px;
}
.backLink a {
  font-size: 30px;
  color: greenyellow;
}
